@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Rajdhani:wght@300;400;500;600;700&family=WDXL+Lubrifont+TC&display=swap');
body {
    margin: 0;
    background: black;
    height: 300vh;
    font-family: 'Rajdhani','Noto Sans KR', sans-serif;

}

body::-webkit-scrollbar {
    display: none;
}

html {
    margin: 0;
    user-select: none;
}

#canvas-container {
    height: 100vh; 

    box-sizing: border-box;
}

#scroll-container {
    width: 100vw;
    height: 100vh;  
}

.scroll-wrapper {
    width: 55%;
    height: 100%;
    margin: 0 auto;

    /* border: 1px solid yellow; */
}

.header {
    width: 100%;
    height: 10%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    color: white;
    font-weight: 200;
    font-size: 20px;
}

.content {
    width: 100%;
    height: 25%;
    box-sizing: border-box;
    margin: 2% 0;
}
.content div:first-child {
    font-weight: 200;
    color: white;

}

.content div {
    color: rgb(194, 194, 194);
    font-weight: 100;
    font-size: 25px;
}

.blur {
    backdrop-filter: blur(5px);
    width: 15%;
    height: 100%;
    border-radius:5px;
    padding: 2px;
}

.right-content {
    display: flex;
    justify-content: right;
}

.hero-upper-wrapper {
    width: 100%;
    height: 30%;
    font-family: "Rajdhani", sans-serif;
    color: #ffffff;
    font-size: 60px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.html-wrapper {
    width: 100%;
    height: 40%;
    margin-top: 15%;
    padding: 30px;
    backdrop-filter: blur(5px);
}

.about-text-wrapper, #profile-picture {
    width: 50%;
    height: 100%;

    /* border: 1px solid rgb(0, 255, 98); */
    /* background-color: yellow; */
}

#profile-picture {
    background-image: url('../public/tsar.jpg');
    background-size: cover;

}

.project-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.project-header {
    width: 100%;
    height: fit-content;
    /* border: 1px solid yellow; */
}

.project-text1 {
    font-size: 40px;
    font-weight: 100;
    color: #ffffff;
}

.project-text2 {
    /* font-size: 25px;
    color: #adadad; */

    color: rgb(194, 194, 194);
    font-weight: 100;
    font-size: 25px;
}

.project-grid {
    display:grid;
    width: 100%;
    height: 100%;
    margin-top: 3%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10%;
}

.project-grid div {
    /* border: 1px solid rgb(238, 95, 0); */
}

.project-picture-container{
    width: 100%;
    height:  80%;
    /* background: red; */

    transition: all 0.2s;
}

.project-picture-container:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.project-grid-text-wrapper {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;    

    padding-top: 20px;
    box-sizing: border-box;
}

#project-pic1 {
    background-image: url('../public/reformation.png');
    background-size: cover;
}

#project-pic2 {
    background-image: url('../public/flameTest.png');
    background-size: cover;
}

#project-pic3 {
    background-image: url('../public/sam.png');
    background-size: cover;
}

#project-pic4 {
    background-image: url('../public/mas.png');
    background-size: cover;
}

.text3 {
    font-weight: 100;
    color: white;
    font-size: 25px;
}

.text4 {
    font-weight: 100;
    color: rgb(202, 202, 202);
    font-size: 20px;
}


.border {
    border: 1px solid white;
}

#about-video {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: inline-block;

    /* background-image: url('/work.png');
    background-size: cover; */
}

.about-container {
    width: 100%;
    height: 36%;
    display: inline-block;
}

.about-outer-wrapper {
    height: 100vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
    justify-content: space-between;

}

.card {
    width: 100%;
    height: 36%;
    margin: 0 auto;
}

.card .header {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: start;

    padding: 5px;
}

.card .profile-picture {
    /* width: 30%; */
    height: 100%;
    aspect-ratio: 1/1;
    background-image: url('/m.jpg');
    background-size: cover;
    border-radius: 100%;
}

.profile-text-wrapper {
    width: 30%;
    height: 100%;
    margin-left: 1%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .name {
    color: white;
    font-size: 30px;
}

.card .subtext {
    color: #c2c2c2;
    font-size: 20px;
}

.card .content {
    width: 70%;
    height: 50%;
    margin-top: 1%;
    /* background: red; */
    margin: 0;
    padding: 7px;
    color: #c2c2c2;
    font-size: 20px;
}